.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section-title {
  margin: auto;
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  justify-content: center;
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  padding: 0;
  margin: 0 auto 0;
}

.table_theme_light {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  list-style: none;
  margin: 0;
}

.table__text {
  list-style: none;
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0 0;
}

.table__cell_theme_light {
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0;
}

.section-title_theme_dark {
  margin: 90px auto 0;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.section-subtitle_theme_dark {
  margin: 20px auto 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.table_theme_dark {
  margin: 0 auto 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  z-index: 5;
  width: 200px;
  color: white;
  margin: 80px 0 0;
  padding: 0;
  list-style: none;
}

.logo_place_footer {
  top: 0;
  height: 35px;
  width: 183px;
}