.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    width: 240px;
}

.khan__buy-link:hover {
    transition: opacity 3s linear;
    opacity: .3;
}